NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=

REDDIT_USER_AGENT=web:scrollable-feed:v0.1.0 (by /u/your-user)
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=

YTDLP_PATH=

NHENTAI_API_KEY=
